/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* --clr-primary-5: #2caeba; */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: rgba(255, 255, 255, 0.87);
  --clr-grey-3: rgba(255, 255, 255, 0.6);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-7: rgba(255, 255, 255, 0.38);
  --clr-grey-8: rgba(255, 255, 255, 0.12);
  --clr-grey-9: rgba(255, 255, 255, 0.05);
  --clr-grey-10: rgba(255, 255, 255, 0.02);
  --clr-white: rgba(255, 255, 255, 1);
  --clr-black: #000000;
  --clr-bg: #121212;

  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "DM Mono", monospace;
  --transition: all 0.3s linear;
  --transition-color: color 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  /* --light-shadow: 
    0px 3px 3px -2px rgba(0,0,0,0.2), 
    0px 3px 4px 0px rgba(0,0,0,0.14), 
    0px 1px 8px 0px rgba(0,0,0,0.12);
  --dark-shadow: 
    0px 5px 5px -3px rgba(0,0,0,0.2), 
    0px 8px 10px 1px rgba(0,0,0,0.14), 
    0px 3px 14px 2px rgba(0,0,0,0.12); */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1100px;
  --fixed-width: 700px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: var(--ff-secondary);
  /* background: var(--clr-white); */
  background: var(--clr-bg);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
  font-weight: 300;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  opacity: 0.12;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
iframe:focus {
  outline: none;
}
iframe[seamless] {
  display: block;
}

/* Animation */

@keyframes fade-in {
  0% {
    transform: translateY(-16px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeIn {
  animation: fade-in 0.6s ease-in;
}
.fadeIn:nth-of-type(2) {
  animation-delay: 0.1s;
}
.fadeIn:nth-of-type(3) {
  animation-delay: 0.2s;
}
.fadeIn:nth-of-type(4) {
  animation-delay: 0.3s;
}
.fadeIn:nth-of-type(5) {
  animation-delay: 0.4s;
}
.fadeIn:nth-of-type(6) {
  animation-delay: 0.5s;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--clr-grey-7);
  box-shadow: inset 0 0 6px var(--clr-grey-7);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*
=============== 
Mapbox
===============
*/
.mapboxgl-ctrl-bottom-left {
  display: none;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}
.marker {
  transform: translate(-50%, -50%);
}
.mapboxgl-popup-tip {
  border-bottom-color: rgba(255, 255, 255, 0.3) !important;
}
.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.3) !important;
  color: white !important;
  padding: 0.3rem 0.8rem !important;
}
.popup-text {
  font-size: 0.8rem;
  color: var(--clr-grey-3);
}
.flag {
  margin-left: 0.25rem;
}
/*  global classes */
.btn {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  padding: 0.5rem 0.75rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-primary-5);
  cursor: pointer;
}
.btn:hover {
  background: hsla(184, 91%, 17%, 0.6);
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
textarea,
input {
  width: 100%;
  display: block;
  padding: 0.75rem 1rem;
  border: 1px solid var(--clr-grey-7);
  color: var(--clr-grey-1);
  background: transparent;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
textarea:focus,
input:focus {
  border-color: var(--clr-grey-1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--clr-bg) inset;
  box-shadow: 0 0 0px 1000px var(--clr-bg) inset;
  -webkit-text-fill-color: var(--clr-grey-1) !important;
}
textarea::placeholder,
input::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-7);
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}
/* section */
.section {
  padding: 5rem 0;
}
.section-small {
  padding: 2.5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.content-container {
  margin: 0 auto;
  max-width: 900px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
/* page links */

/* social links */
.social-links {
  display: flex;
}
.social-link > svg {
  stroke-width: 1.2;
  vertical-align: middle;
  color: var(--clr-grey-3);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-link {
  font-size: 1.75rem;
  margin-right: 16px;
}
.social-link svg:hover {
  color: var(--clr-primary-5);
}
/*
=============== 
Navbar
===============
*/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header h3 {
  font-size: 24px;
  margin: 0px;
}
.nav-header a,
.toggle-btn {
  display: flex;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
}
#icon-animation {
  stroke-dasharray: 880;
  stroke-dashoffset: 880;
  stroke: var(--clr-primary-5);
}
.nav-logo:hover #icon-animation {
  animation: outline 0.8s ease forwards;
}
@keyframes outline {
  to {
    stroke-dashoffset: 0;
  }
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.toggle-btn:hover {
  color: var(--clr-primary-2);
}
.page-links li a {
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
}
.nav-links {
  display: none;
}
@media screen and (max-width: 1200px) {
  .nav-logo:hover #icon-animation {
    animation: none;
  }
  #icon-animation {
    animation: outline 0.8s ease forwards;
  }
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-left: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: 300;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition-color);
    transition: var(--transition-color);
    padding: 0.5rem 0;
  }
  .nav-selected,
  .nav-links a:hover {
    color: var(--clr-primary-5) !important;
    box-shadow: 0px 2px var(--clr-primary-5);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: transparent;
  }
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  background: var(--clr-black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  transform: translateX(-100%);
  overflow: hidden;
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-grey-1);
  letter-spacing: var(--spacing);
  margin-bottom: 2rem;
  font-size: 2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: var(--radius);
  font-weight: 300;
}
.sidebar-links li:last-of-type a {
  margin-bottom: 0px;
}
.sidebar-links li a:hover {
  /* background: var(--clr-primary-9); */
  color: var(--clr-primary-5);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  color: var(--clr-grey-3);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
/*
=============== 
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* .sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */
/*
=============== 
Filter
===============
*/
.filter-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter {
  padding: 0.6rem 2rem;
  border: none;
  background: transparent;
  color: var(--clr-grey-3);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.active,
.filter:hover {
  color: var(--clr-primary-5);
}
.active::before,
.filter:hover::before {
  content: "[";
  position: absolute;
  transform: translateX(-100%);
}
.active::after,
.filter:hover::after {
  content: "]";
  position: absolute;
}
/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  margin-top: -5rem;
  padding-top: 5rem;
  /* height: 100vh; */
  /* background: var(--clr-primary-10); */
  position: relative;
  margin-top: 40px;
}
.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info h1 {
  margin-bottom: 24px;
  font-weight: 300;
}
.hero-info h3 {
  color: var(--clr-grey-3);
  font-size: 21px;
  line-height: 40px;
  text-transform: none;
  margin: 0px;
}
.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 6/-1;
  }
}
@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1rem;
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero h4 {
    line-height: 1;
  }
}

/*
=============== 
Services
===============
*/
.service {
  background: var(--clr-grey-9);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--light-shadow);
}
.service-icon {
  font-size: 1.75rem;
  stroke-width: 1.2;
  margin-bottom: 1.5rem;
  color: var(--clr-grey-3);
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service h4 {
  font-size: 20px;
}
.service p {
  font-size: 16px;
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
=============== 
Jobs
===============
*/

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  font-size: 1.25rem;
  color: var(--clr-grey-3);
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  line-height: 1;
  margin: 0 0.5rem 1rem 0.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  padding-left: 16px;
}
.job-btn:hover,
.active-btn {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}
/* .job-info {
  min-height: 420px;
} */
.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-white);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}
.job-date {
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}
.job-icon {
  color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .active-btn {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
  .job-btn:hover {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
}

/*
=============== 
Education
===============
*/
.education-layout {
  display: flex;
}
.education-layout > div {
  width: 50%;
}
.education-layout h3 {
  font-size: 1.25rem;
  text-transform: none;
}
.education-layout p {
  margin-bottom: 0;
}
.gap-top {
  margin-top: 2.5rem;
}
@media screen and (max-width: 992px) {
  .education-layout {
    display: block;
    text-align: center;
  }
  .education-layout > div {
    width: 100%;
  }
  .education-layout > div:last-of-type {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 800px) {
  .education-layout h3 {
    font-size: 1rem;
  }
}
/*
=============== 
Title
===============
*/
.anchored-title {
  display: inline-flex;
  align-items: center;
  margin: 5rem 0 1.5rem -1.5rem;
}
.anchored-icon {
  opacity: 0;
  margin-right: 0.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.anchored-text {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  margin: 0px !important;
}
.anchored-title:hover .anchored-icon {
  opacity: 1;
  fill: var(--clr-primary-5);
}
.anchored-text:hover {
  text-decoration: underline;
}
/*
=============== 
Projects
===============
*/
.project {
  display: grid;
  margin-bottom: 4rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.project,
.project-info {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.project:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.project:hover .project-info {
  background: var(--clr-grey-8);
}
.project-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  /* height: 19rem; */
  z-index: 1;
}
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.85;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.project:hover .project-img::after {
  opacity: 0;
}
.project-info {
  background: var(--clr-grey-9);
  padding: 16px 2rem 20px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--clr-primary-5);
  margin-bottom: 0.75rem;
}
.project-info h3 {
  margin-bottom: 1.5rem;
}
.project-desc {
  /* word-spacing: 15px; */
  color: var(--clr-grey-3);
}
.blog-category,
.project-stack span,
.about-stack span {
  display: inline-block;
  border: 1px solid var(--clr-grey-3);
  color: var(--clr-grey-3);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
  font-family: var(--ff-secondary);
}
.about-stack span {
  margin-top: 0.5rem;
}
.projects-btn {
  width: 16rem;
}
@media screen and (max-width: 960px) {
  .project-img::after {
    display: none;
  }
  .project-info {
    background: var(--clr-grey-8);
  }
}
@media screen and (max-width: 600px) {
  .projects-btn {
    width: 90vw;
  }
}
@media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 22rem;
  }
}
@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .project-img {
    grid-column: 1 / 8;
    grid-row: 1 / 1;
    border-radius: var(--radius) 0 0 var(--radius);
  }
  .project-info {
    border-radius: 0 var(--radius) var(--radius) 0;
    height: 100%;
    grid-column: 8 /13;
    grid-row: 1 / 1;
  }
}

/*
=============== 
Blog
===============
*/
.blog {
  display: block;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition); */
}
.blog:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
  background: var(--clr-grey-8) !important;
}
.blog-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.85;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.blog:hover .blog-img::after {
  opacity: 0;
}
.notFound {
  grid-column: 2 / span 3;
  margin: 5rem auto;
}
.notFound > h1 {
  font-size: 24px;
  margin: 0px;
  margin-left: 8px;
}
.search-input {
  position: relative;
  display: flex;
}
.search-input svg {
  position: absolute;
  right: 7.5px;
  height: 41px;
  color: var(--clr-grey-7);
  z-index: 100;
}
.category-name {
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-3);
  background: transparent;
  border: none;
  padding: 0px 8px 0px 1rem;
  margin: 8px 0px;
  -webkit-transition: var(--transition-color);
  transition: var(--transition-color);
}
.category-name:hover {
  color: var(--clr-primary-5) !important;
  box-shadow: -2px 0px var(--clr-primary-5);
}
.category-name:hover {
  color: var(--clr-primary-5);
}
.category-count {
  color: var(--clr-grey-7);
  font-size: 14px;
}
.recent-list h5 {
  padding: 0.5rem 0;
  margin: 0px;
  font-size: 16px;
  color: var(--clr-grey-3);
  -webkit-transition: var(--transition-color);
  transition: var(--transition-color);
}
.recent-post {
  display: flex;
  align-items: center;
}
.recent-post > span {
  margin-bottom: 0px;
}
.recent-post span,
.recent-post h5 {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.recent-post:hover span {
  color: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
  background: hsla(184, 91%, 17%, 0.6);
}
.recent-post:hover h5 {
  color: var(--clr-primary-5);
}
.blogs-menu > div {
  margin-bottom: 2.5rem;
  background: var(--clr-grey-10);
  padding: 1.5rem;
}
.blogs-menu h4 {
  font-size: 18px;
  margin-bottom: 1.5rem;
}
.blog article {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.blog-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1.5rem;
  border-radius: 0 0 var(--radius) var(--radius);
}
.blog-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
}
.blog-card h4 {
  color: var(--clr-grey-1);
  font-size: 21px;
  line-height: 26px;
  margin: 8px 0px 16px;
}
.blog-card p {
  margin-bottom: 0px;
  margin-right: 0px;
}

.blog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-date {
  color: var(--clr-grey-7);
  font-size: 14px;
}
@media screen and (max-width: 850px) {
  .category-list {
    display: flex;
    justify-content: space-around;
  }
  .category-name {
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }
  .category-name:hover {
    color: var(--clr-primary-5) !important;
    box-shadow: 0px 2px var(--clr-primary-5);
  }
  .blogs-menu > div {
    margin-bottom: 1.5rem;
  }
  .recent-block {
    display: none;
  }
  .blogs-center > h1 {
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  .blog-img::after {
    display: none;
  }
  .blog-card {
    background: var(--clr-grey-8);
  }
}
@media screen and (min-width: 576px) {
  .blogs-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2rem;
  }
  .blogs-menu {
    grid-row: 1 / span 100;
  }
  .blog-img {
    height: 17.5rem;
  }
}
@media screen and (min-width: 850px) {
  .blog-img {
    height: 13.75rem;
  }
}

/*
===============
Footer
===============
*/
.footer {
  background: var(--clr-black);
  text-align: center;
  padding: 5rem 0 2.5rem;
}
.footer-container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
.footer h4 {
  color: var(--clr-grey-7);
  font-size: 12px;
}
.footer-form-block {
  width: 50%;
}
.footer-links {
  text-align: left;
  height: 60%;
  max-height: 185px;
  text-transform: uppercase;
  color: var(--clr-grey-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-links li a {
  font-weight: 300;
  padding: 0 16px;
  font-size: 16px;
  -webkit-transition: var(--transition-color);
  transition: var(--transition-color);
}
.footer-link-selected,
.footer-links a:hover {
  color: var(--clr-primary-5) !important;
  box-shadow: -2px 0px var(--clr-primary-5);
}
.mail-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0;
}
.mail-block h4,
.mail-block svg {
  margin: 0px;
}
.mail-block h4 {
  color: var(--clr-grey-3);
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 8px;
}
.footer-form-block {
  max-width: 600px;
}
.footer-form div {
  display: flex;
  margin-top: 8px;
}
.footer-btn {
  background: transparent;
  margin-left: 8px;
  height: 39px;
  padding: 8px 24px;
}
.footer-subtitle {
  text-align: left;
  font-size: 18px;
  color: var(--clr-grey-1);
  text-transform: none;
  margin-bottom: 16px;
}
.footer .social-link {
  color: var(--clr-grey-9);
}
.footer .social-link:hover {
  color: var(--clr-primary-5);
}
/* .footer ul, */
.footer small {
  margin: 0px;
  color: var(--clr-grey-7);
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  .footer {
    padding-top: 3.5rem;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .footer-container > div {
    margin-bottom: 3.5rem;
  }
  .footer-link-block .footer-links {
    justify-content: space-around;
  }
  .footer-media-block .social-links {
    justify-content: center;
  }
  .footer-media-block .social-links li a {
    margin: auto 12px;
  }
  .footer-subtitle {
    text-align: center;
  }
  .footer-links {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-link-block,
  .footer-media-block,
  .footer-form-block {
    width: 100%;
  }
  .footer-links li a {
    padding: 0px;
    padding-bottom: 0.5rem;
  }
  .footer-link-selected,
  .footer-links a:hover {
    color: var(--clr-primary-5) !important;
    box-shadow: 0px 2px var(--clr-primary-5);
  }
}
@media screen and (min-width: 600px) {
  .footer-media-block {
    text-align: left;
  }
}
/*
===============
Pages
===============
*/
.blog-template,
.projects-page,
.blog-page,
.error-page,
/* .about-page, */
.contact-page {
  min-height: calc(100vh - 5rem - 9rem);
}
.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-primary-10);
  text-align: center;
}
.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}
/*
===============
Blog Page
===============
*/
.blog-page .blog {
  background: var(--clr-grey-9);
}
/*
===============
About Page
===============
*/
.about-page {
  padding: 5rem 0 2.5rem;
}
.about-img {
  margin-bottom: 2rem;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.about-text .section-title {
  margin-bottom: 2rem;
  text-align: left;
}
.about-text .underline {
  margin-left: 0;
  margin-right: 0;
}
.about-text p {
  line-height: 2;
}
.about-btn {
  margin: 2.5rem auto 5rem;
}
.stack-container {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
}
.stack-container span {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: var(--clr-grey-4);
}
.stack-icon {
  color: var(--clr-primary-5);
  margin-right: 0.25rem;
  font-size: 1rem;
}
.legend-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 88%;
}
.legend-text {
  margin: 0px;
  margin-left: 0.75rem;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;
  }
  .about-img {
    grid-column: 1 / span 5;
    margin-bottom: 0;
    width: 48%;
  }
  .about-text {
    grid-column: 6 / -1;
  }
}
@media screen and (max-width: 600px) {
  .about-btn {
    margin-bottom: 2.5rem;
  }
}
/*
===============
Contact Page
===============
*/
.contact-page {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.contact-form {
  background: var(--clr-grey-9);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--light-shadow);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 90vw;
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: var(--dark-shadow);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-1);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-bg);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-7);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  background: transparent;
}
/*
===============
Blog Template
===============
*/
.blog-template {
  padding: 2.5rem 0 5rem;
}

.blog-template h1,
.blog-template h2 {
  text-align: center;
  margin: 40px auto;
}

.blog-template ul {
  transform: translateX(20px);
  list-style: square;
  color: var(--clr-grey-3);
}

.blog-template blockquote {
  margin: 2rem 0;
  border-left: 5px solid var(--clr-grey-7);
  padding: 10px 20px;
}
.blog-template blockquote p {
  margin: 0px;
}

.blog-template pre {
  background: #000000;
  color: var(--clr-primary-8);
  overflow-x: scroll;
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  margin: 3rem auto;
  overflow: auto;
}
.blog-template img {
  border-radius: var(--radius);
  box-shadow: none;
}
.blog-subtitle {
  margin: 1.25rem auto 0px;
}
#disqus_thread {
  color: var(--clr-primary-5) !important;
  opacity: 0.87;
}
table {
  width: 80%;
  margin: 1.5rem auto;
  table-layout: fixed;
  border-spacing: 0px;
  border: 1px solid var(--clr-grey-7);
}
thead {
  background: var(--clr-grey-8);
}
tbody tr:hover {
  background: var(--clr-grey-9);
}
tbody {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
}
th,
td {
  letter-spacing: var(--spacing);
  padding: 0.8rem 0;
  font-size: 14px;
}
th {
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--ff-primary);
}
thead tr th,
td {
  border-bottom: solid 1px var(--clr-grey-7);
}
td {
  font-weight: 300;
  color: var(--clr-grey-3);
}
tbody tr:last-of-type td {
  border-bottom: 0px;
}
/*
===============
Project
===============
*/
.project-title {
  margin: 10rem auto 2.5rem;
}
.project-title > h2 {
  margin: 0px;
}
@media (max-width: 600px) {
  .project-title {
    margin-top: 7.5rem;
  }
}
/*
===============
Project Template
===============
*/
.project-head {
  background: var(--clr-grey-10);
  width: 100%;
  /* height: auto; */
  margin-top: -5rem;
  padding: 15rem 0 5rem;
  text-align: center;
  position: relative;
}
.project-head .section-title,
.project-head h2 {
  margin: 0px;
}
.project-head h2 {
  font-size: 48px;
}
.project-main {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0px;
  z-index: -1;
  filter: grayscale(100%) brightness(0.15) opacity(50%);
}
.project-category {
  display: inline-block;
  margin: 0px;
  margin: 16px auto;
  padding: 0px 4px;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--clr-primary-5);
  font-size: 14px;
}
.project-category:first-of-type {
  padding-left: 0px;
  border-left: none;
}
.project-category:last-of-type {
  padding-right: 0px;
}
.project-template {
  padding: 2.5rem 0 5rem;
}
.project-template h1,
.project-template h2,
.project-template h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.project-template ul li {
  transform: translateX(20px);
  list-style: square;
  color: var(--clr-grey-3);
}
.paragraph li {
  margin: 2.5rem 0 0.75rem;
  text-transform: uppercase;
  /* color: var(--clr-primary-5) !important; */
}
.project-template ol li {
  transform: translateX(28px);
  color: var(--clr-grey-7);
  line-height: 25px;
}
.project-overview {
  display: flex;
}
.project-overview p {
  text-transform: capitalize;
  margin-bottom: 4px;
}
.project-overview div {
  margin-right: 2.5rem;
  color: var(--clr-grey-3);
}
.project-template a,
.project-template strong {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.project-template strong {
  font-weight: 300;
  color: var(--clr-grey-1);
}
.project-template a {
  text-decoration: none;
}
.project-template a:hover,
.project-template a:hover strong {
  text-decoration: underline;
  color: var(--clr-primary-5);
}
.project-overview h3 {
  font-size: 24px;
}
.project-overview h3 {
  margin-top: 0px;
  color: var(--clr-grey-1);
}
.project-template p:last-of-type {
  margin-bottom: 20px;
}
.project-template p,
.project-template li {
  font-size: 1rem;
}
.project-template blockquote {
  border-left: 5px solid var(--clr-grey-7);
  padding: 0px 24px;
  margin: 0.5rem 0 2rem;
}
.project-template blockquote p {
  margin: 0px !important;
}
.project-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.project-btns a {
  margin: 0px;
}
.project-btns a:last-of-type {
  margin-left: 8px;
}
.project-btns a:hover {
  text-decoration: none;
}
@media (max-width: 600px) {
  .project-head {
    padding-top: 10rem;
  }
  .project-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .project-overview div {
    margin: 0px;
  }
}
.figure-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 0.5rem;
  margin: 2rem auto;
}
.uneven {
  grid-template-columns: auto 554px;
}
.figure-container img {
  border-radius: var(--radius);
  box-shadow: none;
}
.figure-container figcaption {
  color: var(--clr-grey-3);
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
}
.gif-container figure {
  text-align: center;
}
.gif-container img {
  width: 60%;
}
.medium-zoom-overlay {
  background-color: #000000 !important;
}
.medium-zoom-image {
  box-shadow: none !important;
}
.medium-zoom--opened {
  overflow: hidden;
}

.iframe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  align-content: start;
  margin-top: 5rem;
}
.iframe-container blockquote {
  margin-top: 0px;
}
.iframe-container iframe,
.iframe-container img {
  justify-self: end;
}
.iframe-container h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 2.5rem auto 1rem;
  display: flex;
  align-items: center;
  color: var(--clr-primary-5);
  font-weight: bold;
}
.iframe-container h4 span {
  text-transform: none;
  font-weight: 300;
  margin-left: 4px;
}
@keyframes pointing {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(4px);
  }
}
.iframe-container:hover h4 svg {
  animation: pointing 0.3s linear 0s infinite alternate;
}
.iframe-container h4 svg {
  margin-left: 8px;
  stroke-width: 0.5;
}
.project-template iframe,
.project-template img {
  border-radius: var(--radius);
}
.project-template iframe {
  border: none;
  width: 375px;
  height: 667px;
}
.calculator {
  height: 178vw;
  max-width: 310px;
  max-height: 570px;
}
@media (max-width: 960px) {
  .uneven {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 834px) {
  .iframe-container h4 svg {
    transform: rotate(90deg);
  }
  .iframe-container iframe {
    justify-self: center;
  }
  .iframe-container h4 {
    display: block;
    text-align: center;
  }
  @keyframes pointing {
    from {
      transform: translateY(0px) rotate(90deg);
    }
    to {
      transform: translateY(4px) rotate(90deg);
    }
  }
  .iframe-container ol {
    display: none;
  }
}
@media (max-width: 600px) {
  .gif-container {
    display: block;
  }
  .gif-container figure:first-of-type {
    margin-bottom: 2.5rem;
  }
  .gif-container img {
    width: 70%;
  }
}
